.LastUpdatedDateItem
{
    overflow: hidden !important;
    width: 156px !important;
    height: 14px !important;
}


#header h1 {
padding-left: 369px !important;
background-size: 360px !important;
}